.start {
    height: 500px;
    width:50%;
    float: left;
    
    margin-top: 20px;
     }

.info {
    height: 40%;
    width: 40%;
    margin-left: 20%;
    
}

#p{
    font-size: 30px;
    font-weight: bold;
}

.mainL { width: 50%;
    height: 600px;
    float:left;
    border:1px solid;
    box-sizing:border-box;
    margin-top: 10%;
   
    }

    .side { width:50%;
        height: 600px;
        
        float:left;
        border: 1px;
        box-sizing:border-box;
        
        }
.but{
border-radius: 30px;
height: 50px;
width: 50px;
background: #738678;

}

.button {
    display: inline-block;
    
    background-color:#738678;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 2px;
    border-radius: 60px;
  height: 60px;
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #FFFFFF;
  }
  
  .button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover a {
    padding-right: 25px;
  }
  
  .button:hover a:after {
    opacity: 1;
    right: 0; 
  }

  